body {
    background-image: url('space\ pattern.avif');
}

.title {
    text-align: center;
    color: aliceblue;
}

h3 {
    text-align: center;
    color: aliceblue;
}

.gameScreenMaster {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    height: 600px;
    padding: 1% 5% 1% 5%;
    outline: solid black;
}

.gameScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;

}

.batleScreen {
    margin-left: 150px;
    margin-right: 150px;
    height: 150px;
    text-align: center;
    background-color: red;
}

.shipsImg{
    display: flex;
    align-content: center;
    /* padding: 1% 5% 1% 5%; */
}

img {
    display: flex;
    max-width: 60%;
    max-height: 60%
}

.buttons {
    text-align: center;
    padding-bottom: 30px;
}

.attackBtn {
    font-size: 30px;
    padding: 1%;
    width: 150px;
}

.retreatBtn {
    font-size: 30px;
    padding: 1%;
    width: 250px;
}